@import './globalstyles.scss';


.MainTitle {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 150px;
    }

    h3 {
        font-size: 40px;
    }

    .buttons {
        display: flex;
        margin-top: 30px;

        .button:first-child {
            margin-right: 50px;
        }

    }


}





